/* App.module.css */
.app {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure full viewport height */
}

.appHeader {
  background-color: white;
  padding: 10px 20px;
  color: rgb(212, 51, 169);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.appLogo {
  height: 80px; /* Adjust height for better scaling */
}

.appNav {
  display: flex;
  justify-content: center;  
  gap: 15px;
}

.appLink {
  color: rgb(212, 51, 169);
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  margin: 0 15px;
}

.appLink:hover {
  text-decoration: underline;
}

.main {
  flex: 1; /* ממלא את כל השטח הזמין */
  padding: 60px 20px; /* הפחתת padding */
  background-color: #FFDCE8;
}

.footer {
  padding: 10px;
  background-color: #53474F;
  color: white;
  text-align: center;
  width: 100%;
}

/* Media Queries */
@media (max-width: 768px) {
  .app {
    padding: 0; /* Remove extra padding */
  }

  .appHeader {
    flex-direction: column;
    gap: 10px;
  }

  .appLogo {
    height: 70px; /* Reduce logo size */
  }

  .appNav {
    flex-direction: column;
    gap: 10px;
  }

  .appLink {
    font-size: 0.9rem;
    margin: 5px 0;
  }

  .main {
        padding: 40px 10px; /* עוד התאמות למסכים קטנים */
    }

}

@media (max-width: 480px) {
  .appHeader {
    padding: 10px;
  }

  .appLogo {
    height: 60px; /* Further reduce logo size */
  }

  .appNav {
    gap: 5px;
  }

  .appLink {
    font-size: 0.8rem;
  }

  .main {
    padding: 40px 10px; /* Reduce padding for mobile devices */
  }
}
